.dog-card {
  padding: 16px;
  width: 100%;
  border: 1px solid #f0f0f0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  margin-top: 8px;
  position: relative;
  word-break: break-all;
}

@media (min-width: 425px) {
  .dog-card {
    width: 130px;
    margin-left: 6px;
    margin-right: 6px;
  }
}

@media (min-width: 525px) {
  .dog-card {
    width: 160px;
  }
}

@media (min-width: 625px) {
  .dog-card {
    width: 190px;
    margin-top: 12px;
  }
}

@media (min-wdith: 1025px) {
  .dog-card {
    width: 220px;
  }
}

.dog-card:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.dog-card:hover .dog-card__name {
  font-weight: bolder;
  color: #17a398;
}

.dog-card__name {
  font-weight: bold;
  font-size: 25px;
}

/* Action bars */
.dog-card__actions-container {
  display: none;
}

.dog-card:hover .dog-card__actions-container {
  position: absolute;
  display: block;
  top: 4px;
  right: 8px;
  cursor: pointer;
}

.dog-card__actions-container img {
  width: 12px;
  height: 12px;
}

.dog-card__edit-icon {
  margin-right: 8px;
}

.dog-card__info {
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
}

.dog-card__info img {
  margin: auto 8px;
}

.dog-card__description {
  margin-top: 8px;
  font-size: 12px;
}

.dog-card hr {
  border: 1px solid #f0f0f0;
}
