.delete-confirmation-modal__header img {
  display: block;
  margin: auto;
  width: 150px;
}

.delete-confirmation-modal__header h2 {
  font-size: 20px;
  margin-bottom: 0;
}

.delete-confirmation-modal__header p {
  font-size: 12px;
  margin-top: 4px;
}

.delete-confirmation-modal__header i {
  text-decoration: underline;
}

.delete-confirmation-modal__delete-button {
  margin-top: 32px;
  background-color: #982020;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.delete-confirmation-modal__delete-button:hover {
  font-weight: bold;
}
